.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    /* width: 100%; */

}

.checkoutproduct_info{
    padding-left: 20px;
}
.checkoutproduct_info >button{
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.checkoutproduct_img{
    object-fit: contain;
    width: 180px;
    height: 180px;
}


.checkoutproduct_rating{
    display: flex;
}

.checkoutproduct_title{
    font-size: 15px;
    font-weight: 800;

}

.removeAnimation {
    animation-name: flip;
    animation-duration: 0.5s;
  }
  
  @keyframes flip {
    0% {
      transform: perspective(800px) rotateY(0);
    }
    50% {
      transform: perspective(800px) rotateY(180deg);
    }
    100% {
      transform: perspective(800px) rotateY(360deg);
    }
  }

